apiVersion: v1
kind: Service
metadata:
  name: feedback-app-service
  labels:
    app: feedback-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
  selector:
    app: feedback-app